@use "library" as l;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: map-get(l.$colors, bg-light);
  @include l.fonts(normal, light);
}
.header,
.main,
.footer {
  @include l.content_flex(center, column, center);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 150px;
  background-color: map-get(l.$colors, bg-nav);
  &__content {
    width: 1460px;
    @include l.content_flex(space-between, row, center);
  }

  &__logo {
    width: 5rem;
    height: 5rem;
    background-color: red;
    border-radius: 50%;
  }
}

.nav {
  width: 50%;  

  &__items {
    @include l.content_flex(space-between);
    padding: 0 3rem;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    @include l.fonts(nav, bold, special, title);
    margin: 2em 0;
  }
}

.main {
  margin-top: 150px;
}

.container {
  width: 100%;
}

.home {
  @include l.content_flex;
  min-height: 90vh;
  &__title {
    @include l.fonts(big_title, bold, title, footer);
  }
}

.proyect {
  background-color: map-get(l.$colors, bg-dark);
  @include l.content_flex(center, column);
  &__title {
    @include l.fonts(title, bold, title, bg-light);
  }
}

.boxes {
  width: 1460px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.box {
  @include l.content_flex(space-between, column, center);
  justify-self: center;
  align-self: center;
  width: 20rem;
  height: 22rem;
  padding: 2em 2em 5em;
  background-color: map-get(l.$colors, bg-light);
  border-radius: .5rem;  
  // border-radius: 33px;
  // background: #006967;
  // box-shadow:  5px 5px 5px #00514f,
  //              -5px -5px 5px #00817f;
  &__title {
    @include l.fonts(small_title, bold, special, title);    
  }

}
