@use "library" as l;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: map-get(l.$colors, bg-light);
  font-family: map-get(l.$font_style, normal), sans-serif;
  font-size: map-get(l.$font_size, normal);
  font-weight: map-get(l.$font_weight, light);
}
.header,
.main,
.footer {
  @include l.content_flex(center, column, center);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 150px;
  background-color: map-get(l.$colors, bg-nav);
  &__content {
    width: 1460px;
    @include l.content_flex(space-between, row, center);
  }

  &__logo {
    width: 5rem;
    height: 5rem;
    background-color: red;
    border-radius: 50%;
  }
}

.nav {
  width: 50%;
  font-family: map-get(l.$font_style, special);
  font-size: map-get(l.$font_size, nav);
  font-weight: map-get(l.$font_weight, bold);
  margin: 2em 0;

  &__items {
    @include l.content_flex(space-between);
    padding: 0 3em;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: map-get(l.$colors, title);
  }
}

.main {
  margin-top: 150px;
}

.container {
  width: 100%;
}

.home {
  @include l.content_flex;
  min-height: 90vh;
  &__title {
    font-family: map-get(l.$font_style, tittle);
    font-size: map-get(l.$font_size, big_title);
  }
}

.proyect {
  background-color: map-get(l.$colors, bg-dark);
  @include l.content_flex;
}

.boxes {
  width: 1460px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.box {
  width: 20rem;
  height: 22rem;
  background-color: map-get(l.$colors, bg-light);
  justify-self: center;
  align-self: center;
}
